/* IMPORTS */
/* Fonts for text*/
@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

/* Font for Title */
@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&display=swap');

/* GLOBAL CSS */

.input-range__label {
  color: black;
}

.html,
body {
  margin: 0;
  padding: 0;
}

/************************ 
          HEADER
************************/

.header {
  padding: 4% 1%;
  padding-right: 2%;
  background-image: url('./assets/bannerpic2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
}

h1 {
  text-shadow: 2px 2px 3px #bbb;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header h1 {
  font-size: 50px;
  margin-left: 1%;
  font-family: 'Fondamento', cursive;
  text-align: center;
  letter-spacing: 2px;
  color: rgb(255, 241, 212);

  text-shadow: #000000 2px 2px, #000000 -2px 2px, #000000 -2px -2px,
    #000000 2px -2px;
}
.header h1 a {
  text-decoration: none;
  color: rgb(255, 241, 212);
}

.header h1 span {
  font-size: 100px;
  font-family: 'Almendra SC', sans-serif;
}

/***** Header ANIMATION *****/

.header h1:hover,
.header a:hover {
  -webkit-animation: bounce 0.35s ease infinite alternate;
  animation: bounce 0.35s ease infinite alternate;
  cursor: pointer;
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes bounce {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.menu-item {
  filter: saturate(0%) contrast(95%);
  transition: filter 1s;
  margin-top: 40%;
  margin: 0 10px;
  font-size: 40px;
  transition: transform 0.3s ease 0s;
  text-decoration: none;
}

.menu-item a {
  padding: 0;
}
.menu-item:hover {
  filter: none;
  -webkit-transform: translate(0, 10px);
  -ms-transform: translate(0, 10px);
  transform: translate(0, 10px);
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
.navbar {
  margin-left: auto;
  display: flex;
  align-items: center;
}

/************************ 
        HOMEPAGE
************************/

.homepage-container {
  background-image: url('./assets/texturevieuxpapier.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'MedievalSharp', sans-serif;
}

.homepage-container > h1 {
  font-family: 'Almendra SC', sans-serif;
  margin: 0;
  padding: 20px;
  background-image: url('./assets/texturevieuxpapier.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  word-spacing: 5px;
  text-align: center;
  height: 105px;
  font-size: 50px;
}

.homepage-container a {
  text-decoration: none;
  color: rgb(255, 241, 212);
  text-shadow: #000000 1px 1px, #00000067 -1px 1px, #0000006b -1px -1px,
    #000000 1px -1px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homepage-content {
  max-width: 90%;
  background-image: url('./assets/Texturepapier.png');
  margin: 0 auto;
  padding: 30px 30px;
}

.homepage-content .find-title {
  margin-bottom: 5px;
  font-family: 'Almendra SC', sans-serif;
  font-size: 50px;
}

.border-medieval {
  max-width: 300px;
  filter: contrast(300%);
}

.homepage-container p {
  margin: 0;
  text-align: center;
}

.input-range {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 2%;
}

fieldset {
  border: none;
  text-align: center;
  font-size: 20px;
  display : flex;
  flex-direction : column;
  align-items: center;
}
.gender .inputs {
  margin : 0 10px;
}

fieldset .checkboxGender {
  display: flex;
}

fieldset h3 {
  font-family: 'Almendra SC', sans-serif;
  font-size: 30px;
}
fieldset label {
  font-size: 18px;
}

fieldset input {
  margin: 0.25 0.5em;
}

.align {
  flex-direction : row;
}

.inputs {
display : flex;
justify-content: flex-start;
box-sizing: border-box;
margin : 0 auto;
}

#ville {
  border-radius: 5px;
  background-color: rgba(124, 97, 67, 0.322);
  text-align: center;
}

#ville:focus {
  outline: 0;
}

#ville::placeholder {
  padding-left: 2px;
  font-size: 20px;
}


.btn-form {
  margin: 20px;
  box-shadow: inset 0px 1px 3px 0px #91b8b3;
  background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  background-color: #768d87;
  border-radius: 0 0 50% 50%;
  border: 1px solid #566963;
  display: flex;
  align-self: center;
  cursor: pointer;
  color: #ffffff;
  margin: auto;
  font-family: 'Fondamento', cursive;
  font-size: 15px;
  font-weight: bold;
  margin-top: 0.5em;
  padding: 11px 23px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #2b665e;
}

.btn-form:hover {
  background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  background-color: #6c7c7c;
}
.btn-form:active {
  position: relative;
  top: 1px;
}

.btn-form:focus {
  outline: 0;
}

.btn2 > a {
  text-decoration: none;
}

form {
  padding: 0.75em 0;
  font-family: 'Fondamento', cursive;
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 55px;
}
.intro-title {
  font-family: 'Almendra SC', sans-serif;
  font-size: 50px;
  margin-bottom: 5px;
}
.selection {
  display: flex;
  justify-content: space-evenly;
}

.selection-pic {
  align-items: center;
  border: 2px solid rgb(124, 97, 67);
  cursor: pointer;
  max-width: 100%;
  height: 270px;
}

/************************ 
       LISTE CONV
************************/

.conversationList {
  background-image: url('./assets/texturevieuxpapier.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'MedievalSharp', sans-serif;
}

.conversations-items {
  display: flex;
  flex-direction: column;
  background-image: url('./assets/Texturepapier.png');
  width: 80%;
  margin: 0 auto;
  padding: 30px 30px;
}

.conversation {
  display: flex;
  flex-direction: row;

}

.conversations-items a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  align-self: center;
  margin-left: 20px;
}

.conversations-items a:hover {
  font-weight: bolder;
}

.conversations-items p {
  font-size: 30px;
  margin: 10px auto;
  width: 100%;
}

.conversations-items div {
  border-bottom: 1px solid black;
}

.conversation-title {
  text-align: center;
  font-family: 'Almendra SC', sans-serif;
  font-size: 50px;
  max-width: 90%;
  margin: 20px auto;
  height: 105px;
}

/************************ 
        MESSENGER
************************/

.conversation-container {
  background-image: url('./assets/texturevieuxpapier.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.conversation-container > .conv-header, .conversation-container > p  {
  display: flex;
  justify-content: center;
  margin: 0;
}

.messageAvatar {
  max-width: 85px;
  max-height: 85px;
  border: 2px double #e7d4a9;
  border-radius: 50%;
  align-self: center;
}

.conversation-container h1 {
  font-size: 50px;
  font-family: 'Almendra SC', sans-serif;
  cursor: pointer;
  padding: 10px 20px;
  word-spacing: 5px;
  text-align: center;
  width: auto;
}

.conversation-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 auto;
  background-image: url('./assets/Texturepapier.png');
  width: 90%;
  max-height: 80vh;
  overflow-y: scroll;
}

.conversation-content::-webkit-scrollbar {
  width: 12px;
}
.conversation-content::-webkit-scrollbar-thumb {
  background-color: #816550;
  border-radius: 20px;
}

.conversation-content::-webkit-scrollbar-track {
  background: #E7D3A9;
}

*::-webkit-scrollbar-track {
  background: #816550;
}

*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-thumb {
  background-color: #E7D3A9;
  border-radius: 20px;
}



.conversation1,
.conversation2 {
  padding: 20px;
  margin: 20px 10px;
  border-radius: 30px;
  color: black;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
}

.conversation1 > p {
  border: 4px solid rgba(124, 97, 67, 0.250);
  margin-left: 20px;
  background-color: rgba(34, 22, 197, 0.384);
  border-radius: 30px;
  padding: 13px;
}
.conversation2 {
  align-self: flex-end;
}
.conversation2 > p {
  border: 4px solid rgb(124, 97, 67, 0.250);
  background-color: rgba(143, 25, 25, 0.13);
  border-radius: 30px;
  padding: 13px;
  margin-right: 20px;
}

.conversation1pic,
.conversation2pic {
  max-width: 60px;
  max-height: 60px;
  border: 2px solid rgba(117, 69, 24, 0.250);
  border-radius: 50px;
}

.conversation > .conversation1pic {
  margin: 10px;
  cursor:pointer;
}

.conversation-send {
  margin: 0 auto;
  padding-top: 0.5em;
  background-image: url('./assets/Texturepapier.png');
  max-width: 90%;
  
}

.conversation-input {
  max-width: 80%;
  max-height: 10px;
  background-color: grey;
  border-radius: 30px;
  margin: 20px;
  margin-right: 30px;
}

.send-form {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

#smiley {
  font-size: 25px;
  margin-left: 10px;
  cursor: pointer;
}

#camera {
  font-size: 25px;
  margin-left: 15px;
}

.send-btn {
  width: 250px;
  height: 70px;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 30px;
  box-shadow: 2px 1px 4px black;
  font-size: 20px;
  outline: transparent;
  cursor: pointer;
}

.send-message {
  text-align: left;
  font-size: 20px;
  line-height: 70px;
  height: 70px;
  padding: 0;
  margin-left: 30px;
  border-radius: 30px;
}

.send-message:focus {
  outline: 0;
}

/************************ 
        PROFILE
************************/

.profile-container {
  max-width:90%;
  background-image: url('./assets/Texturepapier.png');
  text-align: center;
  font-family: 'MedievalSharp', sans-serif;
  padding-bottom: 10px;
  margin: 0 auto;
}

.profile-container h1 {
  font-family: 'Almendra SC', sans-serif;
  cursor: pointer;
  margin: 0;
  padding: 20px;
  background-image: url('./assets/texturevieuxpapier.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  word-spacing: 5px;
  text-align: center;
}

.profile-picture img {
  height: 200px;
  margin: 25px 50px;
  border-radius: 50%;
  border: 3px solid #a6827e;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.btn-find {
  margin: 20px;
  box-shadow: inset 0px 1px 3px 0px #91b8b3;
  background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  background-color: #768d87;
  border-radius: 0 0 50% 50%;
  border: 1px solid #566963;
  display: flex;
  align-self: center;
  cursor: pointer;
  color: #ffffff;
  margin: auto;
  font-family: 'Fondamento', cursive;
  font-size: 15px;
  font-weight: bold;
  margin-top: 0.5em;
  padding: 11px 23px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #2b665e;
  width: 150px;
}

.btn-find > * {
  text-align: center;
}

.btn-find:hover {
  background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  background-color: #6c7c7c;
}

.btn-find:active {
  position: relative;
  top: 1px;
}

.btn-find:focus {
  outline: 0;
}

.profile-like-and-message {
  display: flex;
  justify-content: center;
  align-items: center;

}

.profile-like button,
.profile-message button {
  border-radius: 50%;
  padding: 5px;
  margin: 5px;
  box-shadow: inset 0px 1px 0px 0px #a6827e;
  background: linear-gradient(to bottom, #7d5d3b 10%, #634b30 100%);
  background-color: #7d5d3b;
  border: 1px solid #54381e;
  display: inline-block;
  cursor: pointer;
  font-size: 30px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #4d3534;
}

.profile-like button:hover,
.profile-message button:hover {
  background: linear-gradient(to bottom, #634b30 10%, #7d5d3b 100%);
  background-color: #634b30;
}

.profile-like button:active,
.profile-message button:active {
  position: relative;
  top: 1px;
}

.profile-like button:focus,
.profile-message button:focus {
  outline: 0;
}

/************************ 
        MYPROFILE
************************/
.profile-info {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.profile-info button {
  border-radius: 50%;
  padding: 5px;
  margin: 5px;
  box-shadow: inset 0px 1px 0px 0px #a6827e;
  background: linear-gradient(to bottom, #7d5d3b 10%, #634b30 100%);
  background-color: #7d5d3b;
  border: 1px solid #54381e;
  display: inline-block;
  cursor: pointer;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #4d3534;
}

.profile-info button:hover {
  background: linear-gradient(to bottom, #634b30 10%, #7d5d3b 100%);
  background-color: #634b30;
}

.profile-info button:active {
  position: relative;
  top: 1px;
}

.profile-info button:focus {
  outline: 0;
}

.likedProfile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.my-profile p {
  padding: 5px 0;
  font-family: 'Fondamento', cursive;
  font-size: 20px;
}

.my-profile > h3 {
  text-align: center;
}

#reset > a {
  font-family: 'Almendra SC', sans-serif;
  text-shadow: none;
  color: teal;
  font-size: 14px;
}

/************************ 
       OUR  TEAM
************************/
.team-title {
  text-align: center;
  text-decoration: underline;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team img {
  width: 40%;
  border-radius: 50%;
  border: 3px solid #a6827e;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.team-details {
  display: flex;
}

.team-details blockquote {
  border-top: 2px double rgba(0, 0, 0, 0.7);
  border-radius: 0 0 40% 40%;
  padding: 0 10px;
  padding-top: 1%;
  margin: 20px;
  height : 170px;
  width: 100%;
}

.team-details img {
  margin: 15px 0;
  align-self: flex-start;
  width: 40%;
}

.img-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-user {
  display : flex;
  justify-content: center;
}

.name-profile-img {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


/* CSS ICON SOCIAL*/

.social-icons {
  list-style: none;
  padding: 0;
  text-align: center;
}

.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1em;
  text-align: center;
}

.social-icons i {
  color: #fff;
  position: absolute;
  top: 1.9em;
  left: 1.9em;
  transition: all 265ms ease-out;
}

.social-icons a {
  display: inline-block;
}

.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 35px;
  height: 35px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #7d5d3b, #54381e);
  transition: all 265ms ease-out;
}

.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
  color: #fff;
}

.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #FFF;
  -webkit-background-clip: text;
  transition: all 265ms ease-in;
}

/************************ 
        FOOTER
************************/

.footer {
  background-image: url('./assets/texturevieuxpapier.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 15px;
  color: antiquewhite;
  display: flex;
  flex-direction: column;
}

.footer a {
  
  font-family: 'MedievalSharp', sans-serif;
  padding: 10px;
  text-decoration: none;
  color: antiquewhite;
  font-size: 1.2em;
}
.menu-foooter {
  display: flex;
  justify-content: space-between;
}

.footer p {
  font-family: 'Almendra SC', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  border-top: dashed 1px rgba(230, 211, 168, 0.7);
  width: 50%;
  padding-top: 20px;
  margin-left: 25%;
  padding-bottom: 10px;
}

/************************ 
HREF UNDERLINE ANIMATION
************************/

.cool-link {
  display: inline-block;
  color: antiquewhite;
  text-decoration: none;
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  margin-top: 2px;
  height: 2px;
  background: antiquewhite;
  transition: width 1s;
}

.cool-link:hover::after {
  width: 100%;
  transition: width 1s;
}

/*****************
    RESPONSIVE
*****************/

@media all and (max-width: 1040px) {
  .title {
    display: none;
  }
  .menu-footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .userH1 h1,
  .userH1 a {
    display: none;
  }
  .header {
    max-height: 250px;
    padding: 0;
    margin: 0;
    background-image: url('./assets/bannerpic1.jpg');
  }
  .navbar {
    display: flex;
    flex-direction: column;
  }

  .menu-item {
    padding-bottom: 6px;
  }

  .selection {
    display: flex;
    flex-direction: column;
    
  }

  .intro-title {
    text-align: center;

  }

  .selection-pic {
    
    max-width: 350px;
    max-height: auto;
    margin: 5px auto;
  }

  .homepage-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  fieldset {
    display: flex;
    flex-direction: column;
  }
 .img-social {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img-user img {
    min-width: 60%;
  }
  
  .img-user {
    display : flex;
    justify-content: center;
  }

  .social-icons {
    display : flex;
    flex-direction : row;
  }

}
